# Dependencies
node_modules/
package-lock.json

# Uploads
uploads/
*.jpg
*.jpeg
*.png

# Temporary files
tmp/
*.tmp

# Backup files
*.backup

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
